{% extends 'user/email/email-layout.html.twig' %}

{% block body_text %}
{{ 'Click on the following link to reset your password ' ~ resetPasswordUrl }}
{% endblock %}

{% block body_html_content %}
    {% set html_text = 'Click <a href="' ~ resetPasswordUrl ~ '" target="_blank">here</a> to reset your password' %}
    {{ html_text|raw }}
{% endblock %}